<div class="nav">
  <div class="passport">
    <%= render 'devise/registrations/new_registration_form' %>
  </div>
    <div class="links">
      <a href="#" class="home-link">Mentions Légales</a>
      <a href="#" class="home-link">CGV</a>
    </div>
</div>
