
.img {
  height: 27vh;
  width: 22vw;
  background-size: 100% 100%;
  background-image: url('img.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 23%;
  right: 45%;
  z-index: 1;
  transform: rotate(-6deg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);  filter: brightness(80%);
  -webkit-filter: brightness(80%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}


.img:hover .btn-ct-img {
  height: 9vh;
  width: 15vw;
  z-index: 3;
  top: -1%;
  left: -1%;
}

.btn-ct-img {
  position: absolute;
  overflow: hidden;
  height: 9vh;
  width:  0vw;
  transition: .5s ease;
  top: -1%;
  left: -1%;
}

.btn-img {
  position: absolute;
  height: 9vh;
  width: 15vw;
  background-size: 100% 100%;
  transform: rotate(6deg);
  background-image: url('btn-img.png');
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
