
.iti {
  height: 49%;
  width: 29%;
  background-size: 100% 100%;
  background-image: asset-url('iti.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 27%;
  right: 3%;
  z-index: 1;
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.iti:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}


.iti:hover .btn-ct-iti {
  width: 90%;
  z-index: 3;
  top: 55%;
  left: 55%;
}

.btn-ct-iti {
  position: absolute;
  overflow: hidden;
  height: 43%;
  width:  0px;
  transition: .5s ease;
  top: 55%;
  left: 55%;
}

.btn-iti {
  position: absolute;
  height: 43%;
  width: 15vw;
  max-width: 30vh;
  background-size: 100% 100%;
  background-image: asset-url('btn-iti.png');
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
