
.iti {
  height: 49vh;
  width: 26vw;
  background-size: 100% 100%;
  background-image: url('iti.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 30%;
  right: 10%;
  z-index: 1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.iti:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}


.iti:hover .btn-ct-iti {
  height: 9vh;
  width: 15vw;
  z-index: 3;
  top: 55%;
  left: 55%;
}

.btn-ct-iti {
  position: absolute;
  overflow: hidden;
  height: 9vh;
  width:  0vw;
  transition: .5s ease;
  top: 55%;
  left: 55%;
}

.btn-iti {
  position: absolute;
  height: 9vh;
  width: 15vw;
  background-size: 100% 100%;
  background-image: url('btn-iti.png');
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
