
.pal {
  height: 9%;
  width: 6%;
  background-size: 100% 100%;
  background-image: asset-url('pal.png');
  -webkit-filter: blur(0.6px);
  -moz-filter: blur(0.6px);
  -o-filter: blur(0.6px);
  -ms-filter: blur(0.6px);
  filter: blur(0.6px);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 1;
  transform: rotate(2deg);
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.pal:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.container {
  z-index: 50;
  margin: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  &:hover {
    .buttons:not(:last-of-type) {
      width: 60px;
      height: 60px;
      margin: 15px auto 0;
      opacity: 1;
    }
    .rotate {
      background-image: url('pal.png');
      transform: rotate(0deg);
    }
  }
}

.buttons {
  @for $i from 2 through 6 {
    &:nth-last-of-type(#{$i}) {
      transition-delay: #{($i - 1) * 20ms};
    }
  }
  display: block;
  width: 35px;
  height: 35px;
  margin: 20px auto 0;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: .2s;
  &:nth-last-of-type(1) {
    width: 56px;
    height: 56px;
    opacity: 1;
  }
  &:nth-last-of-type(2) {
  background: url('fb.png');
  background-size: contain;
  }
  &:nth-last-of-type(3) {
  background: url('insta.png');
  background-size: contain;
  }
  &:nth-last-of-type(4) {
  background-image: url('msg.png');
  background-size: contain;
  }
  &:nth-last-of-type(5) {
  background-image: url('gh.png');
  background-size: contain;
  }

  &:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
  }
}

span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  &.rotate {
    background: #DB4437 url('https://cbwconline.com/IMG/Codepen/Add.svg') center no-repeat;
    position: absolute;
    transform: rotate(90deg);
    transition: .3s;
  }
}

[tooltip]{
  &:before {
      z-index: 50;
  content: attr(tooltip);
  background: #585858;
  padding: 5px 7px;
  margin-right: 10px;
  border-radius: 2px;
  color: #FFF;
  font: 500 12px Roboto;
  white-space: nowrap;
  position: absolute;
  bottom: 20%;
  right: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  }
  &:hover:before {
      z-index: 50;
    visibility: visible;
    opacity: 1;
  }
}
