@import "liv";
@import "conn";
@import "iti";
@import "img";
@import "pass";
@import "shop";
@import "dashboard";


h1 {
  margin: 0;
}

.nav {
  z-index: 1;
  position: fixed;  
  width: 100vw;
  height: 100vh;
  background: #D0E4F5 url("dashboard.png");
  background-size: cover;
  margin: 0;
}
