$my_beautydemo_font: 'beautydemo';
$my_lemourserif_font: 'lemourserif';
$my_pimpernel_font: 'pimpernel';

.require {
  background-color: rgba(255,255,255,0.2);
  font-family: $my_pimpernel_font;
  color: black;
  font-size: 1.6vw;
  height: 50%;
  margin: 0% 0 10%;
}

.form-group h3 {
  font-weight: bold;
  font-size: 2vw !important;
  color: black;
  padding-top: 2%;
}

.container {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
