$my_beautydemo_font: 'beautydemo';
$my_lemourserif_font: 'lemourserif';
$my_pimpernel_font: 'pimpernel';


.div-signin {
  background: asset-url('conn-pass.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 70%;
  position: absolute;
  top: 22%;
  left: 36%;
  transform: rotate(-3deg);
  z-index: 1;
}
