$my_beautydemo_font: 'beautydemo';
$my_lemourserif_font: 'lemourserif';
$my_pimpernel_font: 'pimpernel';

.signup {
  height: auto; /* height:width ratio = 9/16 = .5625  */
  width: auto;
  max-width: 177.78vh;
  max-height: 56.25vw;
  overflow: scroll;
}

.bab {
  background: asset-url('conn-pass.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 30%;
  height: 70%;
  position: absolute;
  top: 22%;
  left: 36%;
  transform: rotate(-3deg);
  border: 0.4px solid rgba(0,0,0,1);
  min-width: 370px;
  min-height: 470px;
}

.bab1 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  width: 84%;
  height: 38%;
  border: 0.4px solid rgba(0,0,0,1);
  position: absolute;
  top: 54%;
  left: 3%;
}

.bab11, .bab12, .bab13, .bab14, .bab15, .bab16 {
  width: 100%;
  height: 90%;
  margin: 0;
  border: 0.4px solid rgba(0,0,0,1);
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.bab-input {
  border-top: none;
  border-right: none;
  border-left: none;
  background: rgba(0, 0, 0, 0);
  font-family: $my_pimpernel_font;
  font-size: 2rem;
}

.bab16 {
  padding-top: 0%;
  border: 0.4px solid rgba(0,0,0,1);
  height: 140%;
}

.fd-bab-connect {
  background-image: asset-url('mini-connect.png');
  background-size: cover;
  position: absolute;
  bottom: 7%;
  width: 34%;
  height: 11%;
  z-index: -2;
}

.close-bab {

}
