$my_beautydemo_font: 'beautydemo';
$my_lemourserif_font: 'lemourserif';
$my_pimpernel_font: 'pimpernel';

a {
  text-decoration: none;
}

a:hover {
  color: rgb(206,182,144);
}

a:visited {
  color: rgb(237, 228, 213);
}

.img-passport {
  height: 80%;
  width: 50%;
  background-size: 100% 100%;
  background-image: asset-url('connect_passport');
  background-repeat: no-repeat;
  position: absolute;
  top: 15%;
  right: 26%;
  z-index: 1;
  transform: rotate(-4deg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  opacity: 0.85;
}

.passport-form-content {
  border: 2px solid rgba(0,0,0,0);
  position: relative;
  height: 36%;
  width:  63%;
  transition: .5s ease;
  top: 54%;
  left: 24%;
}

.passport-form {
  border: 2px solid rgba(0,0,0,0);
  position: relative;
  height: 100%;
  width: 90%;
  margin: auto;
  z-index: 2;
    overflow: scroll;
}

.signin, .signin-mdp, .signin-pseudo, .signin_last1, .signin_last2 {
  text-align: center;
  font-weight: bold;
  border: 2px solid rgba(0,0,0,0);
  font-family: $my_pimpernel_font;
  font-size: 120%;
}

.signin-mdp input, .signin-pseudo input {
  width: 95%;
  font-size: 100%;
}

input {
  font-family: $my_pimpernel_font;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: rgba(0,0,0,0);
}

input:focus {
  outline: none;
}


.signin-photo {
  border: 2px solid rgba(0,0,0,0);
  width: 35%;
  height: 90%;
}

.signin_bottom {
  border: 2px solid rgba(0,0,0,0);
  height: 100%;
  font-size: 100%;
}
