$my_beautydemo_font: 'beautydemo';
$my_lemourserif_font: 'lemourserif';
$my_pimpernel_font: 'pimpernel';

.div-signin {
  display: flex;
  flex-direction: column;
  background: asset-url('conn-pass.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 70%;
  position: absolute;
  top: 22%;
  left: 36%;
  transform: rotate(-3deg);
  z-index: 1;
}

.dsi-img {
  position: absolute;
  top: 56%;
  left: 5%;
  background-image: asset-url('anonym.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.4px solid rgba(0,0,0,0);
  width: 20%;
  height: 15%;
  overflow: scroll;
  z-index: 30;
}

.dsi-pseudo {
  position: absolute;
  top: 53%;
  left: 30%;
  border: 0.4px solid rgba(0,0,0,0);
  width: 80%;
  height: 15%;
  overflow: scroll;
  z-index: 30;
  font-family: $my_pimpernel_font;
  font-size: 100;
}
