.aba {
  display: flex;
  flex-direction: column;
  background: asset-url('conn-pass.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 1000px;
  margin: 0;
}

.aba1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 0.4px solid rgba(0,0,0,1);
  width: 82%;
  height: 17%;
  margin-left: 2%;
  margin-top: 69%;
}

.aba11 {
  height: 80%;
  border: 0.4px solid rgba(0,0,0,1);
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aba12 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  height: 80%;
  border: 0.4px solid rgba(0,0,0,1);
  width: 60%;
  text-align: center;
  align-items: center;
}

.aba121 {
  height: 30%;
  width: 90%;
  border: 0.4px solid rgba(0,0,0,1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aba122 {
  height: 30%;
  width: 90%;
  border: 0.4px solid rgba(0,0,0,1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aba123 {
  height: 30%;
  width: 90%;
  border: 0.4px solid rgba(0,0,0,1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aba2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 0.4px solid rgba(0,0,0,1);
  width: 82%;
  height: 5%;
  margin-left: 2%;
  margin-top: 3%;
}

.aba21 {
  border: 0.4px solid rgba(0,0,0,1);
  width: 40%;
  height: 80%;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aba22 {
  border: 0.4px solid rgba(0,0,0,1);
  width: 40%;
  height: 80%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
