@import "signin";
@import "signup";
@import "profile";
@import "oubli";
@import "edit";

.passport {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
