  <div class="book">
    <div class="book-title">
      <h1>Resilience Travel of Mango</h1>
    </div>
    <br/>
    <div class="book-text">
      Le 3 mars 2016, c’est dans un tourbillon de colère et de regrets que je prends cet avion, seule, en direction du pays des contrastes : l’Inde.
    En laissant enfin s’exprimer mon désir de courir le monde et en repoussant sans cesse mes limites physiques et mentales, je pars à la découverte de cette nouvelle moi, Mango, comme on m’a ainsi renommée, dès mes premiers instants aux pieds de l’Himalaya, à travers l’archipel nippon, sur l’une des mystérieuses îles du Pacifique, lors de mes pérégrinations nord-américaines ou bien encore au cœur de la forêt Amazonienne.
    <br>
    Je ne suis pas vraiment seule dans cette aventure : comme à chaque voyage, j’ai un carnet, témoin de mon évolution. Mais celui-ci est plus particulier… J’y couche mes prises de consciences, mes pensées les plus intimes et mes peintures. Et surtout, je souhaite que ceux que je rencontre y laisse également leur trace. Comme pour garder quelque chose d’eux, précieusement…
    J’ai eu peur qu’ils refusent, par pudeur. Je me suis donc autorisée à lire leurs mots, qu’une fois que nos chemins s’étaient séparés.
    Je découvre alors que sans retenue, tous se livrent sur le papier en m’accordant leur confiance. C’est comme si ce carnet possédait une aura ! Qui aide les gens à faire tomber leurs barrières. A les mettre à nu.
    J’ai moi-même continué à écrire et à raconter l’intensité de ces relations éphémères. Parce qu’on est capable de donner et de recevoir... au centuple !
    Est-ce que j’invente cette histoire de toutes pièces ? Et si j’imaginai ces connexions, ces rencontres ? Peut-être que je vois seulement ce que j’ai besoin de voir d’extraordinaire chez des personnes qui ont tout d’ordinaire ?
    Laissez Mango vous faire rêver, Margaux vous faire douter.
    Car aujourd’hui, je suis prête à vous livrer leur histoire, mon histoire.
    Celle où je suis tombée amoureuse…
    De la vie.
    </div>
    <br/>
    <div class="book-btn">
      <%= image_tag ('btn_explorer.png'), class: "book-achat" %>
    </div>
    <br/>
    <div class="book-footer">
      Des vies croisées...
      Des destins liés...
      Des cœurs unis.
    </div>
    <br/>
    <div class="book-logo">
      <%= image_tag ('logo_rtom.png'), class: "book-achat" %>
    </div>
  </div>
