<div class="characters shop-class">
  <h1>Personnages</h1>
  <div class="d-flex justify-content-center align-items-center">
    <div>
      <%= image_tag "portrait_Margaux.png", style: "height: 60vh; width: auto;" %>
    </div>
    <div>
      <%= image_tag "portrait_Mango.png", style: "height: 60vh; width: auto;" %>
    </div>
  </div>
</div>
