<div class="nav">

  <div class="liv">
    <br>
    <div class="btn-ct-liv">
      <div class="btn-liv">
        <br>
      </div>
    </div>
  </div>

  <div class="conn">
    <%= link_to image_tag("conn.png"), profile_path, remote: true %>
    <div class="btn-ct-conn">
      <div class="btn-conn">
      </div>
    </div>
  </div>

  <div class="shop">
    <div class="btn-ct-shop">
      <div class="btn-shop">
      </div>
    </div>
  </div>

  <div class="iti">
    <div class="btn-ct-iti">
      <div class="btn-iti">
      </div>
    </div>
  </div>

  <div class="img">
    <div class="btn-ct-img">
      <div class="btn-img">
      </div>
    </div>
  </div>

  <div class="pass">
    <div class="btn-ct-pass">
      <div class="btn-pass">
      </div>
    </div>
  </div>

</div>

<div class="dashboard">
    <div class="z-content bg-content" style="display: none;">
        <div id="main-container">
        </div>
    </div>
</div>
