<div class="shop-class">
  <h1>Informations requises</h1>
</div>
<% if user_signed_in? %>
<div class="container-fluid require">
  <%= render 'form_require' %>
</div>
<% else %>
<div class="container-fluid require">
<h2>Vous devez avoir un <%= link_to 'compte', new_user_session_path %> pour valider votre panier !</h2>
</div>
<% end %>
