<h2>Cart</h2>
<% if user_signed_in? %>
<div class="shopping-cart">
  <%= render "carts/shopping_cart" %>
</div>

  <% if !(@order_items.length == 0) %>
  <h4 class="text-right"><%= link_to 'Valider mon panier', require_path, class: "btn btn-success" %></h4>
  <% end %>
<% else %>
<h4>Vous devez être connecté pour créer un panier</h4>
<% end %>


  <h4 class="text-right"><%= link_to 'Valider mon panier', require_path, class: "btn btn-success", remote: true %></h4>
