<div class="shop-class">
  <h1>Mon sac a dos</h1>
  <% if user_signed_in? %>
    <div class="shopping-cart">
      <%= render "carts/shopping_cart" %>
    </div>
    <% if !(@order_items.length == 0) %>
    <%= link_to require_path, remote: true do %><h4 class="card-d3">Prêt pour la commande</h4><% end %>
    <% end %>
  <% else %>
    <div class="shopping-cart">
      <h4>Merci de <%= link_to "vous connecter", new_user_session_path %> pour créer un panier.</h4>
      <p>Retourner à <%= link_to "la boutique", shop_path, remote: true %>.</p>
    </div>
  <% end %>
</div>
