<div class="nav">
    <%= render 'devise/sessions/new_session_form' %>
    <div class="links">
      <a href="#" class="home-link">Mentions Légales</a>
      <a href="#" class="home-link">CGV</a>
    </div>
</div>
