
<div class="nav">
  <div class="img-passport">
    <div class="passport-form-content">
      <%= render 'devise/sessions/new_session_form' %>
    </div>
  </div>
  <div class="links">
    <a href="#" class="home-link">Mentions Légales</a>
    <a href="#" class="home-link">CGV</a>
    <a href="#" class="home-link">Contacts</a>
  </div>
</div>
