<div class="post-class">
  <h1>Nouvel article par <%= current_user.username %></h1>
</div>
<div class="post-show">
  <div class="ps-btn">
    <%= link_to 'Retourner aux témoignages', posts_path, remote: true %>
  </div>
  <div class="ps-content">
    <%= render 'form', post: @post %>
  </div>
</div>
