/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


/*
font-family: $my_..._font;
*/
@import "fonts";
@import "dashboard";
@import "user";
@import "shop/index";
@import "bootstrap";

$my_beautydemo_font: 'beautydemo';
$my_lemourserif_font: 'lemourserif';
$my_pimpernel_font: 'pimpernel';

body {
background: #757575 asset-url("background_dashboard.png") 50% 50%;
background-size: cover ;
background-repeat: no-repeat;
background-attachment: fixed;
overflow: hidden;
z-index: 10;
}

.nav {
  height: auto; /* height:width ratio = 9/16 = .5625  */
  width: auto;
  max-width: 177.78vh;
  max-height: 56.25vw;
  margin: auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  box-sizing: border-box;
  background: #757575 asset-url("dashboard.png") 50% 50%;
  background-size: contain ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1;
}

.links + a {
  color: rgb(237, 228, 213);
  text-decoration: none;
}

a {
  color: rgb(237, 228, 213);
  text-decoration: none;
}

a:hover {
  color: rgb(206,182,144);
}

.links {
  width: 100%;
  text-align: center;
  font-family: $my_pimpernel_font;
  position: absolute;
  bottom: 0;
  z-index: 20;
  font-size: 1.6rem;
  margin-left: 3%;
  z-index: -1;
}
