body {
  background-color: #111;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row, nowrap;
  align-items: center;
}

.dashboard-background {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: asset_url("dashboard_ombrages_1920.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blurred {
filter: blur(5px) grayscale(100%) brightness(50%);
-webkit-filter: blur(5px) grayscale(100%) brightness(50%);
}

.z-content {
  z-index: 999;
  position: fixed;
}

.dash-content {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-flow: row, nowrap;
  align-items: center;
  justify-content: center;
}

.bg-content {
  background-color: rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 90%;
}

.responsive {
  max-width: 100%;
  min-width: 100px;
  height: auto;
}

.connexion_full {
  position: absolute;
  top: 8px;
  right: 8px;
}
