@font-face{
    font-family: 'beautydemo';
    src: font-url("beautydemo.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'lemourserif';
    src: font-url("lemourserif.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'pimpernel';
    src: font-url("pimpernel.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}
