#googleMap {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 35%;
}

#trip-container {
  font-family: $my_pimpernel_font;
  color: white;
  font-size: 1.8em;
}

#trip-list {
  list-style: none;
  margin-right: 10%;
  li {
    cursor: pointer;
  }
}
